

.card-cu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  margin: 30px;
}

.profile-box{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid grey;
  background-color: grey;
  padding: 10px;
}
.profile-sub-box{
  background-color: #e0e0eb;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius:10px ;
  font-size: 34px;
}
.profile-desc{
  background-color: #ff5d28;
  border-radius: 10px;
  padding: 5px;
  color: black;
  margin-top: 55px;
  animation-name: profile-anime;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.profile-desc-down{
  background-color: #a3a3a3;
  border-radius: 10px;
  padding: 5px;
  color: black;
  animation-name: profile-anime-sub;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes profile-anime {
  from {background-color: #ff5d28;}
  to {background-color: #a3a3a3;}
}

@keyframes profile-anime-sub {
  from {background-color: #a3a3a3;}
  to {background-color: #ff5d28;}
} 

.text-design{
  font-size: 45px;
  font-size: bold;
  margin-top: 50px;
}

.text-gradient{
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icons{
  font-size: 40px !important;
  margin-top: 3rem;
  
}
a{
text-decoration: none;
color: #fff !important;
}

.skill-icon{

  animation: slide 10s infinite linear;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.job-card-one{
  width: 100%;
  height: 300px;
  border-top-left-radius: 25px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 5px;
}

.education-card {
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  width: 375px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.education-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.degree {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.year {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.institution {
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0;
  color: #555;
}

.description {
  font-size: 14px;
  color: #777;
  line-height: 1.5;
}
.footer{
  height: 200px;
}